
AngularAndSpringModularApplication/.metadata/*

AngularAndSpringModularApplication/Servers/*

.classpath

.project

.settings/

.node_modules/

.Servers/

*.class

AngularAndSpringModularApplication/*/node_modules/*

AngularAndSpringModularApplication/*/bower_components/*
