<div class="outer-outlet">
  <md-toolbar color="primary">
    <span>Applicazione Guidata</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <span><a [routerLink]="['/']">Home Page</a></span>
    <span class="example-spacer"></span>
    <span><a [routerLink]="['/ricerca-base']">Funzionalità Ricerca Base</a></span>
  </md-toolbar>
</div>
<div class="outer-outlet">
  <router-outlet></router-outlet>
</div>